In [1]:
# import pandas
import pandas as pd

In [2]:
df = pd.read_csv('Resources/election_data.csv')

In [3]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
voter_count = df['Voter ID'].count()
print(voter_count)

3521001

In [5]:
df['Candidate'].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
cand_count = df.groupby('Candidate').count()

In [10]:
cand_count

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [12]:
print('Election Results')
print('-------------------------')

Election Results
-------------------------

In [14]:
cand_count

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630